.dv-busqueda input{
    width: 100%;
    line-height: 40px;
    font-size: 22px;
}

.dv-resultados {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dv-resultados > * {
    flex-basis: 30%;
}